rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // İlan fotoğrafları — herkes okuyabilir, admin panelden yüklenebilir
    match /listings/{allPaths=**} {
      allow read: if true;
      allow write: if true;
    }
  }
}
